.Heading {
  display: flex;
  font-family: "Inter"; // если у детей шрифт одинаковый,
  // его достаточно его задать у родителя (наследование)
  overflow: hidden; // чтобы не появлялся горизонтальный скролл от того,
  // что с картинкой блок больше ширины страницы на мобилках
}

.Heading-form {
  margin-top: 133px;
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.Heading-formContent {
  display: flex;
  flex-direction: column;
  width: 440px;
}

.Heading-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  padding-bottom: 20px;
}

.Heading-mobileDescription {
  display: none;
}

.Heading-desktopDescription {
  font-size: 20px;
  line-height: 30px;
  color: #585757;
  margin-bottom: 30px;
}

.Heading-input {
  padding: 9px 15px;
  border: rgba(219, 219, 219, 1) 1px solid;
  border-radius: 6px;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 10px;
}

.Heading-inputs {
  display: flex;
  flex-direction: column;
}

.Heading-input:last-child {
  margin-bottom: 0;
}

.Heading-input:hover {
  border-color: rgba(75, 76, 77, 1);
}

.Heading-input:focus {
  border-color: rgba(22, 116, 120, 1);
}

.Heading-button {
  margin-top: 20px;
  width: 129px;
  border-radius: 6px;
  padding: 11px 16px;
  background-color: rgba(36, 175, 181, 1);
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  border: 1px rgba(36, 175, 181, 1);
  color: white;
  cursor: pointer;
}

.Heading-button:hover {
  background-color: #167478;
}

.Heading-button:active {
  background-color: #073537;
}

.Heading-formInfo {
  margin-top: 20px;
  font-size: 13px;
  line-height: 18px;
  color: rgba(150, 150, 150);
  margin-bottom: 145px;
}

.Heading-image {
  margin-top: 84px;
  width: 50%;
  height: 576px;
  object-fit: cover; // чтобы изображение было по высоте элемента
  object-position: left; // чтобы левый верхний угол был виден,
  // а при уменьшении экрана, т.е. при необходимости, скрывалась правая часть картинки
}

.HeadingInputNameForm {
  display: flex;
  flex-direction: column;
}


@media screen and (max-width: 815px) {
  .Heading {
    flex-direction: column-reverse;
  }

  .Heading-image {
    margin-top: 40px;
    margin-left: 15px;
    width: 100%;
    height: 600px;
  }

  .Heading-form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 0 15px;
    width: 100%;
  }

  .Heading-formContent {
    width: 100%;
  }

  .Heading-title {
    font-size: 36px;
    line-height: 46px;
  }

  .Heading-desktopDescription {
    display: none;
  }

  .Heading-mobileDescription {
    display: block;
    font-size: 20px;
    line-height: 30px;
    color: #585757;
    margin-bottom: 30px;
  }

  .HeadingInputNameForm {
    display: flex;
    flex-direction: column;
  }

  .Heading-formInfo {
    color: rgba(150, 150, 150);
    padding-right: 15px;
    margin-bottom: 45px;
  }
}
