.Description {
  font-family: "Inter";
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  border-top: 1px solid #DBDBDB;
  border-bottom: 1px solid #DBDBDB;
  color: #585757;
}

.Description-image {
  margin-top: 110px;
}

.Description-desktopText {
  margin-top: 30px;
  margin-bottom: 104px;
  max-width: 730px;
}

.Description-mobileText {
  display: none;
}

@media screen and (max-width: 815px) {
  .Description-image {
    margin-top: 40px;
  }

  .Description-desktopText {
    display: none;
  }

  .Description-mobileText {
    display: block;
    margin-top: 30px;
    margin-bottom: 44px;
    padding: 0 15px;
  }
}
