.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 88px;
}

.Header-logo {
  height: 48px;
}

.Header-link {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  margin-right: 72px;
  cursor: pointer;
}

.Header-link:last-child {
  margin-right: 0;
}

.Header-link:hover {
  color: rgba(22, 116, 120, 1);
  border-bottom: 1px rgba(22, 116, 120, 1) solid;
}

.Header-menu {
  display: none;
}

@media screen and (max-width: 815px) {
  .Header {
    height: 68px;
    padding: 0 20px;
  }

  .Header-logo {
    height: 36px;
  }

  .Header-link {
    display: none;
  }

  .Header-menu {
    display: block;
    cursor: pointer;
  }

  .Header-menuLine {
    display: block;
    background-color: #969696;
    height: 2px;
    width: 18px;
    margin-bottom: 4px;
    border-radius: 50px;
  }

  .Header-menu:hover > .Header-menuLine {
    background-color: rgba(22, 116, 120, 1);
  }

  .Header-menuLine:last-child {
    margin-bottom: 0;
  }
}

