.Header {
  display: flex;
  justify-content: space-between;
}

.Header-logo {
  margin-top: 20px;
  margin-left: 30px;
}

.Header-links {
  margin-right: 30px;
  margin-top: 33px;
}

.Header-link {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  margin-right: 72px;
}

.Header-link:nth-child(5) {
  margin-right: 0;
}

.Header-link:hover{
  color: rgba(22, 116, 120, 1);
  border-bottom: 1px rgba(22, 116, 120, 1) solid;
}